h1 {
    text-align: center;
    background-color: #000;
    color: white;
    margin-bottom: 50px;
}
#canvas {
    border: #000 10px solid;
    display: block;
    margin: auto;
}
p {
    text-align: center;
    font-size: 28px;
}